body {
  height: 100%;
  background-color: #505050;
  display: flex;
  margin: 2vmin;
}

.dummy {
  flex: 0 0 15vw;
}

.container {
  flex: 1;
  align-items: fill;
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  max-height: 100vh;
  height: 100%;
}

img {
  max-width: 10vw;
  max-height: 10vh;
  background-size: 100% 100%;
}

#dof42 {
  padding-bottom: 1.5vh;
}

#loupe {
  float: right;
  padding-top: 2vh;
}

#reload {
  float: right;
}

#close {
  float: right;
}

#cluster {
  max-width: 50vw;
  max-height: 50vh;
  background-size: 100% 100%;
}
.banner {
  box-shadow: 1vmin 1vmin 1vmin #000000;
  height: 15vh;
  border-radius: 1vmin;
  background: #909090;
}

.middle_box {
  padding-top: 2vh;
  padding-left: 4vw;
  padding-right: 4vw;
  flex-direction: unset;
  flex-direction: row;
  display: flex;
  height: 100%;
}

.left, .right {
  box-shadow: 1vmin 1vmin 1vmin #000000;
  border-radius: 1vmin;
  background: #909090;
  width: 10vw;
  height: 50vh;
}

.middle {
  box-shadow: 1vmin 1vmin 1vmin #000000;
  padding: 1vmin;
  width: 50vw;
  height: 50vh;
  max-width: 50vw;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-bottom: 3vh;
  border-radius: 1vmin;
  background: #909090;
}