doctype html
html
	head
		title Day of the 42
		link(rel="stylesheet " href="doft.css")
	body
		.dummy
		.container
			.banner
				img#dof42(src="../resources/day_of_the_42.png")
				img#loupe(src="../resources/loupe.png")
				a(href="https://www.disney.com" title="Start from thebeginning")
					img#reload(src="../resources/reload.png" alt="Start from thebeginning")
				a(href="https://www.relaischateaux.com" title="Disconnect")
					img#close(src="../resources/close.gif" alt="Disconnect")
			.middle_box
				.left
					a(title="Move")
						img#arrow(src="../resources/arrow.png" alt="Move")
					a(title="Take")
						img#main(src="../resources/main.png" alt="Take")
					a(title="Look")
						img#oeil(src="../resources/oeil.png" alt="Look")
					a(title="Use")
						img#outil(src="../resources/outil.png" alt="Use")
					a(title="Speak")
						img#chat(src="../resources/chat-icon.png" alt="Speak")
				.middle
					img#cluster(src="../resources/cluster.jpg")
				.right
					a(title="test1")
						img#book(src="../resources/book.png" alt="test1")
					a(title="test2")
						img#towel(src="../resources/towel.png" alt="test2")
					a(title="test3")
						img#brick(src="../resources/brick.jpg" alt="test3")
		.dummy