doctype html
html
	head
		link(rel="stylesheet" href="menu.css")
	body
		.test
			input#check0(type="radio" name="menu1")
			input#check1(type="radio" name="menu1")
			label(for="check1") test
			ul.submenu
				p asd
				p test
			input#check2(type="radio" name="menu1")
			label(for="check2") test
			ul.submenu
				p asd
				p test